{% extends "core/base.html" %}
{% load static %}
<title>{% block title %}Home{% endblock title %}</title>
{% block content %}
{% if images %}
<div class="row px-2">
    {% for image in images %}
    <div class="col-sm-4 mt-2">
        <div class="card shadow">
            <img src="{{image.image.url}}" class="card-img-top" alt="{{image.title}}">
            <div class="card-body">
              <h5 class="card-title">{{image.title}}</h5>
              <a href="{% url 'download_image' image.id %}"><strong class="btn btn-sm btn-outline-success">Download <i class="fa-solid fa-download" style="color: #63E6BE;"></i></strong></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="text-center text-danger">No Image Found</h3>
{% endif %}
{% endblock content %}
